.background-color {
  background-color: grey;
}

.notebox {
  margin: auto;
  border-style: solid;
  border-color: #6E6E6E;
  border-size: 1px;
  border-radius: 20px;
  width: 600px;
  height: 300px;
  padding: 10px;
}

/* .center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
 */
.note-name {
  margin: auto;
  padding: 5px;
}

.note-subject {
  padding: 5px;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  background-color: #b0e0e6;
}

.note-code {
  padding: 5px;
  text-align: center;
}

.note-tags {
  padding: 5px;
}

.add-note-button {
  float: right;
  width: 90px;
  height: 30px;
  padding: 18px 36px;
  text-align: center;
}

.backtonotes {
  padding: 10px;
  float: right;
  padding: 18px 3px;
}

.login-action{
  margin: auto;
  border-style: solid;
  border-color:grey;
  border-size: 1px;
  border-radius:20px;
  width:400px;
  height: 200px;
  padding: 10px;
}

#user-email{
  padding:10px;
  margin: auto
}

#user-password{
  padding:10px;
  margin:auto;
}

.login-button{
  padding-top:40px;
  margin: auto;
  width:120px;
}
.note-box{
  border-style: solid;
  border-size: 2px;
  border-color:gray;
  margin:auto;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  padding-top: 20px;
}

.get-notes{
  position: absolute;
  right: 0px;
  width: 370px;
  padding-top: 340px;
}
.add-note{
   position: absolute;
  right: 0px;
  width: 500px;
  padding-top: 340px;
}