<!DOCTYPE html>
<html lang="en-US" ng-app="TIYAngularApp">
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/js/tiy-ng-controller.js"></script>
    <link href="css/tiy-style.css" rel="stylesheet" type="text/css"/>
    </head>
<body ng-controller="SampleController">

<div class="login-action">
    {{^user}}
    <form action="/login" method="post">

        <div id="login-header">
            <div style="text-align: center;">
                <div style="background: #6E6E6E; border-radius: 10px 15px 0px 0px; padding: 15px; margin: auto">
                    <span style="font-family: verdana,arial; color: #D4D4D4; font-size: 1.00em; font-weight:bold;">Enter your email login and password
                    </span>
                </div>
            </div>
        </div>

        <div id="user-email">
            <input type="text" style="width:380px;" placeholder="Email" name="userEmail" required/>
        </div>
        <div id="user-password">
            <input type="password" style="width:380px;" placeholder="Password" name="userPassword" required/>
        </div>

        <div class="signup">
            <div style="text-align: center;">
                Not a member yet? <a href="/usersignup">Join now</a>.
            </div>
        </div>

        <div class="login-button">
            <button type="submit" style="width:130px; height:50px; border:solid 2px; border-radius:20px; border-color:grey; font-size:16px; color:white; background-color: #2EFEC8;">Login</button>
        </div>

    </form>
    {{/user}}
</div>


</body>
</html>